.table {
  width: 100%;
}

.mat-column-ValueID {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-COValue {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-Temperature {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-Humidity {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-Date {
  padding-left: 16px;
  font-size: 16px;
}

.mat-column-SensorID {
  padding-left: 16px;
  font-size: 16px;
}
